body{
    background: #212121;
    font-family: century gothic;
}
.main{
    display: flex; /* Отображаем элементы внутри строки в виде строки */
    justify-content: center; /* Выравнивание элементов в центре по горизонтали */
   
}
.container {
  position: relative;
  width: 300px;
  height: auto;
  margin: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: perspective(500px) rotateY(90deg);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.overlay h2 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255,
  0.4), 0 0 80px rgba(255, 255, 255, 0.2), 0 0 150px rgba(255, 255, 255, 0.1);
}

.container:hover .overlay {
  opacity: 1;
  transform: perspective(500px) rotateY(0deg);
}

.container:hover .overlay h2 {
  opacity: 1;
  transform: translateY(0);
}
.container h1{
    display: flex; /* Задает контейнеру flex-отображение */
    justify-content: center; /* Выравнивает содержимое по горизонтали по центру
    */
    align-items: center; /* Выравнивает содержимое по вертикали по центру */
    height: 90vh; /* Задает высоту контейнера, равную 90% высоты видимой области
    */
    background-color: #2b2d42; /* Задает цвет фона контейнера */
    }
    h1 {
    color: #edf2f4; /* Задает цвет текста заголовка */
    font-size: 5rem; /* Задает размер шрифта заголовка */
    font-weight: bold; /* Задает жирное начертание шрифта заголовка */
    text-transform: uppercase; /* Преобразует текст заголовка к верхнему регистру
    */
    text-align: center; /* Выравнивает текст заголовка по центру */
    letter-spacing: 5px; /* Задает расстояние между буквами заголовка */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Создает тень для текста
    заголовка */
    transition: all 0.5s ease; /* Задает плавный переход при изменении свойств */
    }
    h1:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255,
    0.4), 0 0 80px rgba(255, 255, 255, 0.2), 0 0 150px rgba(255, 255, 255, 0.1); /*
    Создает несколько теней с разными параметрами при наведении курсора на текст
    заголовка */
    transform: translateY(-20px) rotateX(40deg); /* Задает поворот и смещение
    заголовка при наведении курсора */
    }
    